::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
}

/* ==== VARIABLES ==== */
:root {
  /* COLOR */
  --base-color: hsla(232, 50%, 45%, 1);
  --color-font-title: hsla(231, 60%, 97%, 1);
  --color-border-box: hsla(231, 67%, 94%, 1);
  --color-border-input: hsla(0, 0%, 82%, 1);

  /* FONTS */
  --title-font: 'Open Sans', sans-serif;
}

html body {
  background-color: var(--base-color);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

#header {
  margin-top: 4rem;
  width: auto;
  height: auto;
  position: relative;
  margin-bottom: 3.125rem;
}

#header h2 {
  font: 600 4rem var(--title-font);
  color: var(--color-font-title);
  text-align: center;
}

.imgfundo img {
  margin-top: 16.25rem;
  margin-left: -5.1rem;
  position: absolute;
  width: 10.375rem;
}

.box {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 76.125rem;
  height: 43.75rem;
  position: relative;
  background-image: linear-gradient(to right, transparent 1px, var(--base-color) 60%, #FFFFFF 40% );
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.box .SpecLogo {
  margin-top: 4.25rem;
  margin-left: 4.25rem;
  position: absolute;
}

.box .elliose {
  margin-left: 16.375rem;
  margin-top: 11.875rem;
  position: absolute;
}

.box .mascot {
  margin-left: 11.437rem;
  margin-top: 8.937rem;
  position: relative;
}

.text {
  margin-left: 13.562rem;
  margin-top: -2.5rem;
  position: absolute;
  text-align: center;
}

.text h3 {
  color: #FFFFFF;
  font: 600 1.5rem var(--title-font);
  margin-bottom: -1rem;
}

.text h4 {
  color: #FFFFFF;
  font: 300 0.875rem var(--title-font);
}

.inputs-buttons {
  width: 30.375rem;
  height: 43.749rem;
  margin-left: 45.71rem;
  margin-top: -515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.inputs {
  margin-bottom: 2rem;
}

.title-Welcome h3 {
  width: 6.687rem;
  height: 4.062rem;
  margin-top: 8.406rem;
  font: 600 1.5rem var(--title-font);
  margin-bottom: 2rem;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.input-email {
  height: 2.5rem;
  width: 22.375rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-border-input);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#email {
  height: 1.5rem;
  width: 19.875rem;
  border: transparent;
}

img.card {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  padding: 0 0.5rem 0 0.5rem;
}

.input-password {
  height: 2.5rem;
  width: 22.375rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-border-input);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#password{
  height: 1.5rem;
  width: 17.875rem;
  border: transparent;
}

img.padlock{
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  padding: 0 0.5rem 0 0.5rem;
}

.input-password img.view{
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 1px;
  cursor: pointer;
}

.inputs a { 
  font: 400 0.875rem var(--title-font);
  color: var(--base-color);
  text-decoration: none;
  position: relative;
  left: 15.125rem;
}

.login {
  width: 22.375rem;
  height: 2.5rem;
  background: var(--base-color);
  color: #FFFFFF;
  font: 400 0.875rem var(--title-font);
  border-radius: 2.5rem;
  border: transparent;
  margin-bottom: 0.5rem;
}

.thickline {
  border: 0;
  background: linear-gradient(to right, transparent, #E6E9FA, transparent );
  height: 2px;
  overflow: visible;
  padding: 0;
  color: #828282;
  font: 400 0.775rem var(--title-font);
  text-align: center;
}

.thickline::after {
  content: "Or";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background: #FFFFFF;
}

div.logins {
  height: 2.5rem;
}

.google {
  width: 10.937rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border: 1px solid var(--base-color);
  border-radius: 2.5rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font: 400 0.875rem var(--title-font); ;
  color: var(--base-color);
}
 
.gitlab {
  width: 10.937rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: 1px solid var(--base-color);
  background: #FFFFFF;
  position: relative;
  top: -2.5rem;
  left: 11.437rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--base-color);
  font: 400 0.875rem var(--title-font);
}

.have {
  text-align: center;
  font: 400 0.875rem var(--title-font);
  color: #828282;
  margin: 1.5rem;
}

.registration {
  width: 22.375rem;
  height: 2.5rem;
  background: #FFFFFF;
  color: var(--base-color);
  font: 400 0.875rem var(--title-font);
  border-radius: 2.5rem;
  border: solid 1px var(--base-color);
  margin-bottom: 0.5rem;
}